{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyPlantApp</title>

    <link rel="stylesheet" type="text/css" href="{% static 'style/style.css' %}">

    {% block htmlhead %}
    {% endblock htmlhead %}
  </head>
  <body>
    <div id="box">
      {% include "./header.html" with static=static %}

      <main>
          {% block content %} {% endblock %} 
      </main>

      {% include "./footer.html" with static=static %}
    </div>
  </body>
</html>