{% extends "core/base.html" %}
{% load static %}

{% block content %}
    <h2>Fruits</h2>
        {% if fruits %}
            <section id="dashboard">
                {% for fruit in fruits %}
                    <div class="fruit">
                        <img src="{{ fruit.image_url }}" alt="{{ fruit.name }}"/>
                        <h3 class="title">{{ fruit.name }}</h3>
                        <p>{{fruit.description|truncatechars:50}}</p>
                        <a class="details-btn" href="{% url 'fruitipedia:fruit_details' fruit.id %}">More Info</a>
                    </div>
                {% endfor %}
            </section>
        {% else %}
            <h2>No fruit info yet.</h2>
        {% endif %}
{% endblock %}