{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=\, initial-scale=1.0"/>
    <title>Fruitipedia</title>

    <link rel="stylesheet" type="text/css" href="{% static 'styles/styles.css' %}">
  </head>
  <body>
    <div id="wrapper">
      {% include "core/header.html" with static=static %}

      <main>
          {% block content %} {% endblock %} 
      </main>

      {% include "core/footer.html" with static=static %}
    </div>
  </body>
</html>